<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="SharePoint Emails Application" behaviorConfiguration="TestBehaviour">
        <endpoint
          contract="SharePointEmails.WebServices.SharePointEmailsApplication.ISharePointEmailsService"
          binding="webHttpBinding"
          bindingConfiguration=""
          address=""/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="TestBehaviour">
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <security>
      <authentication>
        <anonymousAuthentication enabled="true"/>
        <windowsAuthentication enabled="false"/>
      </authentication>
    </security>
  </system.webServer>
</configuration>
